.dashboardPage{
    padding:40px;

}


.dashboardTop {
    display: flex;
    width: 100%;
    
    box-sizing: border-box;

}
.trendingSection {
    width: 60%;

}
.trendingContainer {
    width: 90%;
    background-color: #fff67f;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 8px;
}

.trendingPost {
    width: 90%;
    background-color: #ffb36d;
    margin: 15px auto;
    padding: 20px;
    border-radius: 8px;
}

.dashboardOptions {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 auto;
}

.dashboardOptions a {
    margin-top: 50px;
	padding: 10px 20px;
	border-radius: 8px;
	border: none;
	box-shadow: 1px 1px 4px 0px #111010;
    background-color: #ed9ebe;
    text-decoration: none;
}

.dashboardOptions input {
    width: 20vh;
	min-width: 100px;
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 8px;
}



@media screen and (max-width: 768px) {
   .dashboardTop {
    flex-direction: column;
    align-items: center;
   } 

   .dashboardOptions {
    margin-top: 50px;
   }

   .trendingSection {
    width: 100%;
    display: flex;
    justify-content: center;
   }
}